set multiplot

set key off
set size 1,0.7
set origin 0.0,0.0
set lmargin 10
set tmargin 0
set yrange [0:400]
set xtics nomirror
plot "report/read.ok" with dots, "report/write.ok" with dots
unset lmargin
unset tmargin
unset size

set key on
set size 1,0.3
set origin 0.0,0.7
set lmargin 10
set bmargin 0
set yrange [400:12000]
unset xtics
plot "report/read.ok" with dots, "report/write.ok" with dots

unset multiplot